.react-background
  background-image: url('../images/react_background.png')

.balance
  background-image: url('../images/balance.gif')

.cat
  background-image: url('../images/cat.gif')

.look
  background-image: url('../images/look.gif')
