.kingofthehill
  background-image: url('../images/kingofthehill.gif')

.domino
  background-image: url('../images/domino.gif')

.eye
  background-image: url('../images/eye.gif')

.rspec
  background-image: url('../images/rspec.png')

.capybara
  background-image: url('../images/capybara.jpg')

.phantomjs
  background-image: url('../images/phantomjs.png')

.config
  background-image: url('../images/config.gif')

.code
  background-image: url('../images/code.gif')

.roadmap
  background-image: url('../images/roadmap.gif')

.cons
  background-image: url('../images/cons.gif')
