@import './backgrounds.styl'
@import 'prism/themes/prism-okaidia.css'

img
  height: 70%

img.example-img
  border: 5px solid #d3d3d3

img.fixed
  height: auto
  width: 80%

p.side-note
  margin-top: 10px
  font-size: 14px

p.file-name
  font-size: 14px

pre.code-snippet
  round-border: 5px
  border 2px dashed rgba(255,255,255,0.7)

pre.code-small
  font-size: 13px;

.social
  display: flex
  align-items: center
  margin-bottom: 20px

  img
    width: 40px
    display: inline
    margin-right: 20px
  h4
    display: inline
    font-size: 17px
